<ion-view view-title="Transaction">
  <ion-content scroll="false">
    <form ng-submit="addTransaction(transaction)">
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Friends
          </div>
          <select ng-model="transaction.borrower">
            <option ng-repeat="friend in friends" value="{{friend._id}}">{{friend.userName}}</option>
          </select>
        </label> 
        <label class="item item-input item-select">
          <div class="input-label">
            Items
          </div>
          <select ng-model="transaction.item">
            <option ng-repeat="item in items" value="{{item._id}}">{{item.name}}</option>
          </select>
        </label>        
        <label class="item item-input">
          <span class="input-label">Due Date</span>
          <input type="date" class="datepicker" ng-model="transaction.dueDate" />
        </label>                      
        <label class="item item-input">
          <span class="input-label">Time</span>
          <input type="time" ng-model="transaction.dueTime">
        </label>  
        <label class="item item-input">
          <span class="input-label">Remind Date</span>
          <input type="date" class="datepicker" ng-model="transaction.remindDate" />
        </label>                      
        <label class="item item-input">
          <span class="input-label">Time</span>
          <input type="time" ng-model="transaction.remindTime">
        </label>                 
        <label class="item">
          <button class="button button-block button-positive" type="submit">Create</button>
        </label>        
      </div>
    </form>
  </ion-content>
</ion-view>