<ion-view view-title="Borrower">
  <ion-content scroll="false">
    <form ng-submit="updateUser(user)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="user.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Telephone</span>
          <input type="text" ng-model="user.telephone">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Items
          </div>
          <select>
            <option ng-repeat="item in items" value="{{item._id}}">{{item.name}}</option>
          </select>
        </label>        
        <label class="item item-input">
          <span class="input-label">Due Date</span>
          <input type="date" class="datepicker" ng-model="user.dateDue" />
        </label>                      
        <label class="item item-input">
          <span class="input-label">Time</span>
          <input type="date" class="datepicker" ng-model="user.time" />
        </label>         
        <label class="item">
          <button class="button button-block button-positive" type="submit">Update</button>
        </label>        
      </div>
    </form>
  </ion-content>
</ion-view>