<ion-view>
	<ion-content>
  <div style="margin-top:10px">

	</ion-content>
  <div class="list card">

  <div class="item item-avatar">
    <img src="img/slide2.png">
    <h2>Khoa Phan</h2>
    <p>wants to lend a iPad Air $5/day</p>
  </div>

  <div class="item item-image">
    <img src="img/iPad-Air.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#">
  </a>
  </div>
    <div style="margin-top:10px">
  </ion-content>
  <div class="list card">

  <div class="item item-avatar">
    <img src="img/i03.png">
    <h2>Vincent D</h2>
    <p>wants to lend a Macbook Pro $5/day</p>
  </div>

  <div class="item item-image">
    <img src="img/apple-12q2-macbook-pro-15-front-lg.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#">
  </a>
  </div>
</div>
</ion-view>
