<ion-view view-title="New Item">
  <ion-content scroll="false">
    <form ng-submit="addItem(item)">
      <div class="list">
      <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="item.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Description</span>
          <input type="text" ng-model="item.description">
        </label>         
        <label class="item">
          <button class="button button-block button-positive" type="submit">Add</button>
        </label>        
      </div>
    </form>
  </ion-content>
</ion-view>